body{
  padding: 0px;
  margin: 0px;

}
#imgchegada{
background-image: url('kek.jpg');
background-size: cover;
background-position: center center
position: relative;
top: 0;
bottom: 0;
height: 50vh;
z-index: -10;

}
#section1{
  padding: 0;
  margin: 0;
  background-color: violet;
}
